.home-design{
    border: 2px solid purple;
    border-radius: 10px;
    margin: 20px;
    padding:20px;
    text-align: center;
}
.home-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}